<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--Email Config-->
    <add key="EmailFrom" value="" />
    <add key="EmailPassword" value="" />
    <add key="TelegramBotToken" value="" />

    <!--System Config-->
    <add key="Timer" value="300000" />
    <add key="SystemMailTimeInHours" value="5" />
    <add key="GameMailTimeInHours" value="0" />
    <add key="SystemEmailTo" value="" />
    <add key="isLogging" value="1" />
    <add key="GameNames" value="C:\Services\Game\Service\GameNames.txt" />

    <!--Email Sent To-->
    <add key="GameNotificationTo" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>